.block-link {
  display: block;
  position: relative;
  font-size: var(--font-size-2);
  font-weight: 500;
  border-radius: 6px;
  background: var(--panel-bg);
  padding: 16px 40px 16px 16px;
  color: var(--text-color);
  text-decoration: none;

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    transition: 0.15s transform;
  }

  &:hover &__arrow {
    transform: translateY(-50%) translateX(5px);
  }
}
