@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('../assets/fonts/roboto-regular.woff2') format('woff2'),
    url('../assets/fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../assets/fonts/roboto-medium.woff2') format('woff2'),
    url('../assets/fonts/roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
